@{
    Layout = "_Layout";
}
<div class="row">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">

            </div>
        </div>
    </div>
    <my-app>Loading...</my-app>
</div>